<!DOCTYPE html>
<html>

<head>
  <title>home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/createprivatechat" method="POST">
    <input type="=text" name="user2"/>
    <input type="submit" value="chat"/>

</form>

        
</body>

</html>   